.scannerwork
.vscode/ipch
a.out*
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.lo
config.status
configure
bw-output
config.h
src/sonar.sh
Makefile
Makefile.in
src/Makefile
src/Makefile.in
stamp-h1
*.o
*~
*.log
*.depend
*.deps
*.dirstamp
